@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #D9AFD9;
    background-image: radial-gradient( circle 1500px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
    padding-bottom: 59px;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 67px;
    max-width: 80%;
    gap: 25px;
}

.container h2 {
    user-select: none;
    cursor: default;
    color: rgba(255, 255, 255, 0.881);
   font-size: 20px;
   margin-top: 4px;
}

.top-post {
    display: flex;
    align-items: center;
}

.top-post img {
    width: 18px;
    height: 18px;
    opacity: 0.3;
    transition: 0.3s;
}

.top-post img:hover {
    background-color: #ffffff;
    border-radius: 4px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 245px;
    height: 245px;
    border-radius: 20px;
    transition: 0.4s;
}

.post:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: -1px 17px 27px 12px rgba(0, 0, 0, 0.146);
}

.post input {
    text-align: center;
    background: transparent;
    outline: none;
    font-family: 'Nunito', sans-serif;
    color: rgba(255, 255, 255, 0.881);
    font-weight: 700;
    font-size: 20px;
    height: 35px;
    width: 90%;
    padding-left: 20px;
    border-radius: 20px 0px 0px 0px; 
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.post input::selection {
    background-color: rgba(255, 255, 255, 0.357);
}

.post input:focus {
    cursor: text;
    background-color: rgba(255, 255, 255, 0.234);
    box-shadow: -1px 17px 27px 12px rgba(255, 255, 255, 0.234);
}

.post input:hover {
    background-color: #ffffff19;
    box-shadow: -1px 17px 27px 1px #ffffff19;
}

.post textarea::-webkit-scrollbar {
    background-color: rgba(255, 251, 251, 0.272);
    width: 14px;
    border-radius: 30px 0 0px 30px;
}

.post textarea::-webkit-scrollbar-thumb {
    background-color: #00000024;
    border-radius: 30px 5px 5px 30px;
}

.post textarea::selection {
    background-color: rgba(255, 255, 255, 0.357);
}

.post textarea {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    font-weight: 800;
    font-size: 14px;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 0px 0px 25px 25px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 245px;
}

.cor-1 {
    background-color: #A9CEA3;
}

.cor-2 {
    background-color: #dfafb8;

}

.cor-3 {
    background-color: #A3CEE1;

}

.cor-4 {
    background-color: #87CDD1;

}

.cor-5 {
    background-color: #dfbacf;

}

.cor-6 {
    background-color: #F7C391;

}

.cor-7 {
    background-color: #F47B8F;
}

.cor-8 {
    background-color: #C7BBE1;
}

/* card-1 section */

.container-card {
    margin: 0 auto;
    max-width: 800px;
    margin-top: -100px;
    margin-bottom: -50px;
}

.icon-back {
    background-color: #fff;
    width: 129px;
    height: 129px;
    border-radius: 40px;
    transform: translate(-60px, -60px);
}

.icon-back img {
    background-color: #fff;
    width: 110px;
    padding: 40px 20px 20px 40px;
    border-radius: 40px;
    transform: translate(20px, 20px);
    opacity: 0.6;
    border: 7px solid #fff;
    box-shadow: 15px 15px 15px 5px rgb(255, 255, 255);
    transition: 0.5s;
}

.icon-back img:hover {
    box-shadow: 15px 15px 30px 20px rgb(255, 255, 255);
    opacity: 1;
}

.card-1 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 800px;
}

.card-1 input {
    text-align: center;
    background: transparent;
    outline: none;
    font-family: 'Nunito', sans-serif;
    color: rgba(255, 255, 255, 0.881);
    font-weight: 700;
    font-size: 20px;
    height: 35px;
    width: 100%;
    border-radius: 20px 20px 0px 0px; 
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.card-1 input::selection {
    background-color: rgba(255, 255, 255, 0.357);
}

.card-1 input:focus {
    cursor: text;
    background-color: rgba(255, 255, 255, 0.234);
    box-shadow: -1px 17px 27px 12px rgba(255, 255, 255, 0.234);
}

.card-1 input:hover {
    background-color: #ffffff19;
    box-shadow: -1px 17px 27px 1px #ffffff19;
}

.card-1 textarea {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    font-weight: 800;
    font-size: 16px;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 0px 0px 25px 25px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.card-1 textarea::-webkit-scrollbar {
    background-color: transparent;
    width: 14px;
    border-radius: 30px 0 0px 30px;
}

.card-1 textarea::-webkit-scrollbar-thumb {
    background-color: #00000024;
    border-radius: 30px 5px 5px 30px;
}

.card-1 textarea::-webkit-scrollbar-button {
    background-color: transparent;
}

.card-1 textarea::selection {
    background-color: rgba(255, 255, 255, 0.357);
}
