@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(255, 244, 234, 1);
    background-image: radial-gradient(circle 1500px at 6.8% 8.3%, rgba(255, 244, 169, 0.757) 0%, rgba(255, 244, 234, 1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
    margin: 10vh 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 25px;
}

@media (max-width: 1050px) {
    .modal .post {
        width: 90vw !important;
    }
}